body{
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 00px;
    color: white;   
}

.form-control{
    font-family: "blanket";
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

#taskInput:focus {
            outline: none !important;      /* Remove the outline */
            box-shadow: none !important;   /* Remove the blue glow (box-shadow) */
        }

/* Base button styles for .btn-danger and .btn-primary */
.btn-danger{
    font-family: "blanket";
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    margin-top: 20px;
}

.btn-primary{
    font-family: "blanket";
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

.btn-danger {
    background-color: rgb(252, 175, 161);
    border-color: rgb(252, 175, 161);
}

.btn-danger:hover, .btn-primary:hover {
    background-color: rgb(252, 175, 161);
    border-color: rgb(252, 175, 161);
}

.btn-danger:active, .btn-primary:active {
    background-color: rgb(230, 116, 96);
    border-color: rgb(230, 116, 96);
}

.btn-primary {
    background-color: rgb(252, 175, 161);
    border-color: rgb(252, 175, 161);
}

.wave-text span {
    display: inline-block;
    font-size: 6rem;
    animation: wave 2s ease-in-out infinite;font-family: "canvas-script", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 45px;
    padding-left: 10px;
}

header {
    display: flex;
    justify-content: center;  
    align-items: center;    
    margin: 0;          
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.1s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.3s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(6) {
    animation-delay: 0.5s;
}
.wave-text span:nth-child(7) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(8) {
    animation-delay: 0.7s;
}
.wave-text span:nth-child(9) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(10) {
    animation-delay: 0.9s;
}
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

